<!DOCTYPE html>
<html>
<head>
    <title>Comments</title>
</head>
<body>
    <h1>Picture</h1>
    <img src="path_to_your_picture.jpg" alt="Picture">

    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
        <li>{{ comment[1] }}</li>
        <ul>
            {% for reply in comment[2:] %}
            <li>{{ reply }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>

    <form action="/add_comment" method="post">
        <textarea name="comment" placeholder="Add a comment"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
